<%- include ('./navbar.ejs') %>
<section class="dashboard">
    <div class="container">
        <h1 class="mt-4 text-white">Dashboard</h1>
        <p class="lead mb-3 text-white"> Hey <strong><%= user.fullName %></strong> welcome to Passport js Authentication</p>
        <a href="/users/logout" class="btn btn-secondary">Logout</a>
    </div>
</section>